* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the entire page takes at least the full height of the screen */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    padding-left: 220px;
}


main {
    flex: 1;
    animation: 1s fadeInUp;
}

  
  /* animation for clouds */
  @keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1984px 0;
    }
  }

  

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin: 0px auto;
    text-align: center;
    font-weight: normal;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #59728e;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b3d8ff;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 16px;
}

/* BUTTONS */
.button {
    display: block;
    text-decoration: none;
    background-color: #b3d8ff;
    color: black;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    /* box-shadow: 1px 2px 3px rgba(0, 0, 0, .5); */
}

.button:hover {
    background-color: #8ea4dc;
}

.project-writeup .button {
    margin: auto;
    box-shadow: none;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    body {
        padding-left: 0px;
        padding-top: 64px;
    }
  }