:root {
    --image-border-radius: 3px;
    --color-black-blue: #0B0D2B;
    --color-periwinkle: #8ea4dc;
    --color-dark-periwinkle: #4a6fa5;
    --color-light-blue: #b3d8ff;
    --color-dark-blue: #044387;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    padding-left: 220px;
}


main {
    flex: 1;
    animation: 1s fadeInUp;
}

  
  /* animation for clouds */
  @keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1984px 0;
    }
  }

  

h1{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: white;
    padding: 50px;
    background-image: url("../img/nightSky.png");
    background-position-y: 45%;
    text-align: center;
    font-weight: normal;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #59728e;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-light-blue);
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 16px;
}

/* BUTTONS */
button, a {
    cursor: pointer;
}

.button {
    display: block;
    text-decoration: none;
    background-color: var(--color-light-blue);
    color: black;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    /* box-shadow: 1px 2px 3px rgba(0, 0, 0, .5); */
}

.button:hover {
    background-color: var(--color-periwinkle);
}

.project-writeup .button {
    margin: auto;
    box-shadow: none;
}

.back-button {
    width: 44px;
    height: 44px;
    color: var(--color-black-blue);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 60;
}

.back-button:hover {
    color: var(--color-dark-periwinkle);
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    body {
        padding-left: 0px;
        padding-top: 64px;
    }
  }