:root {
    --image-border-radius: 3px;
    --color-black-blue: #0B0D2B;
    --color-periwinkle: #8ea4dc;
    --color-dark-periwinkle: #4a6fa5;
    --color-light-blue: #b3d8ff;
    --color-dark-blue: #044387;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    padding-left: 220px;
}


main {
    flex: 1;
    animation: 1s fadeInUp;
}

  
  /* animation for clouds */
  @keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1984px 0;
    }
  }

  

h1{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: white;
    padding: 50px;
    background-image: url("../img/nightSky.png");
    background-position-y: 45%;
    text-align: center;
    font-weight: normal;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #59728e;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-light-blue);
    font-weight: bold;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 16px;
}

a {
    color: var(--color-dark-blue);
}
a:hover {
    color: var(--color-dark-periwinkle);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* BUTTONS */
button, a {
    cursor: pointer;
    color: var(--color-black-blue);
}

.button {
    display: block;
    text-decoration: none;
    background-color: var(--color-light-blue);
    color: black;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    /* box-shadow: 1px 2px 3px rgba(0, 0, 0, .5); */
}

.button:hover, .button a:hover {
    background-color: var(--color-periwinkle);
    color: var(--color-black-blue);
}

.project-writeup .button {
    margin: auto;
    box-shadow: none;
}

.back-button {
    width: 44px;
    height: 44px;
    color: var(--color-black-blue);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    z-index: 30;
}

.back-button:hover {
    color: var(--color-dark-periwinkle);
}

@keyframes fadeInUp {
    0% {
      /* transform: translateY(100%); */
      opacity: 0;
    }
    100% {
      /* transform: translateY(0%); */
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    body {
        padding-left: 0px;
        padding-top: 64px;
    }
  }






/* LIGHTBOX STUFF */

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.961);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.lightbox.open {
    display: flex;
}

.lightbox-image-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100vh;
}

.lightbox-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100vh;
    /* border-radius: var(--image-border-radius); */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lightbox-img.active {
    position: relative;
    opacity: 1;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
    z-index: 103;
}

.lightbox-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.lightbox-arrow.left { 
    left: 30px; 
    z-index: 101;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);

}
.lightbox-arrow.right { 
    right: 30px; 
    z-index: 102;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

#lightbox-img {
    transition: opacity 0.05s ease;
}

@media (max-width: 400px) {
    .lightbox-arrow.left { 
    left: 10px; 
    }
    .lightbox-arrow.right { 
        right: 10px; 
    }
}
